@font-face {
    font-family: 'PT-Mono-bold';
    src: url('../fonts/PTMono-Bold.woff2') format('woff2'),
        url('../fonts/PTMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PT-Mono-regular';
    src: url('../fonts/PTMono-Regular.woff2') format('woff2'),
        url('../fonts/PTMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Between-regular';
    src: url('../fonts/Between1-Regular.woff2') format('woff2'),
        url('../fonts/Between1-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Between-medium';
    src: url('../fonts/Between1-Medium.woff2') format('woff2'),
    url('../fonts/Between1-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Between-bold';
    src: url('../fonts/Between1-Bold.woff2') format('woff2'),
        url('../fonts/Between1-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Between-light';
    src: url('../fonts/Between1-Light.woff2') format('woff2'),
        url('../fonts/Between1-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

