body {
    font-family: 'Between-regular', sans-serif;
    font-size: 13px;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}
input[type=number]:not('.factor-custom-value') {
    caret-color: transparent !important;
}
input[type=number]:focus {
    text-indent: -9999em;
}
input[type=number].factor-custom-value:focus {
    text-indent: inherit;
}
button:focus {
    outline: none !important;
}
.price-form {
    /*max-width: 1120px;*/
    margin: 0 auto;
    padding: 60px 0 0;
    font-family: 'Between-regular', sans-serif;
    /*background : rgba(247, 247, 247, 1);*/
    /*border-radius : 32px;*/
    /*-moz-border-radius : 32px;*/
    /*-webkit-border-radius : 32px;*/
    /*-webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);*/
    /*-moz-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);*/
    /*box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.3);*/
}
.standart-form-inputs {
    padding: 0 50px;
}
.price-form:after {
    content: '';
    display: block;
    clear: both;
}
.price-form h1 {
    text-align: center;
    font-size: 50px;
    line-height: 60px;
    font-weight: 700;
}
.price-form h2 {
    margin: 0 auto 64px;
    font-size : 18px;
    line-height : 26px;
    color : #000000;
    text-align: center;
    max-width: 78%;
    font-family: 'Between-regular';
}
.price-form h2 b {
    font-weight: bold;
}
.price-form h3 {
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 15px;
    font-weight: 700;
    line-height: inherit;
}
.price-form h4 {
    text-align: center;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 22px;
    line-height: inherit;
}
.calculating .price-form input[type=submit] {
    color: transparent;
    background: #ffffff;
}
.price-form .submit-form-block {
    position: relative;
    max-width: 225px;
    width: 100%;
    margin: 0 auto;
}
.price-form .submit-form-block:after {
    content: '';
    clear: both;
    background: url("../img/loading-out.svg") no-repeat center;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 70px;
    left: 76px;
    -webkit-animation: rotatePlus 3s infinite;
    -o-animation: rotatePlus 3s infinite;
    animation: rotatePlus 3s infinite;
    animation-timing-function: linear;
    display: none;
}
.price-form .submit-form-block:before {
    content: '';
    clear: both;
    background: url("../img/loading-inner.svg") no-repeat center;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 85px;
    left: 90px;
    z-index: 2;
    -webkit-animation: rotateMinus 3s infinite;
    -o-animation: rotateMinus 3s infinite;
    animation: rotateMinus 3s infinite;
    animation-timing-function: linear;
    display: none;
}
.calculating .price-form .submit-form-block:before,
.calculating .price-form .submit-form-block:after {
    display: block;
}
@keyframes rotatePlus {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotateMinus {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -ms-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
.price-form .nice-select {
    background : #FFFFFF;
    border: 1px solid #00AAAA;
    border-radius : 6px;
    -moz-border-radius : 6px;
    -webkit-border-radius : 6px;
    color : #00AAAA;
    font-size: 18px;
    height: 52px;
    line-height: 50px;
}
.price-form .nice-select .current {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
.price-form .nice-select:hover,
.price-form .nice-select:active,
.price-form .nice-select.open,
.price-form .nice-select:focus{
    border-color: #00AAAA;
}
.price-form .nice-select:after {
    width: 0;
    height: 0;
    border: 10px solid;
    border-top-color: #00AAAA;
    transform: none;
    color: transparent;
}
.price-form .nice-select.open:after {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    z-index: 9;
}
.price-form .nice-select .option {
    font-size: 18px;
    color : #00AAAA;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 3px;
}
.price-form .nice-select .list {
    font-size: 14px;
    box-shadow: none;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #0aa;
    top: -5px;
    left: -1px;
    width: 101%;
}
.price-form .nice-select .option:hover,
.price-form .nice-select .option.focus,
.price-form .nice-select .option.selected.focus {
    background-color: #F0F8FC;;
}
.price-form label {
    display: block;
    font-size : 18px;
    line-height: 26px;
    color : #000000;
    font-family: 'Between-medium';
}
.price-form label span {
    color: #FFAA32;
    margin-right: 4px;
}
.price-form label span.mobile-label-notice {
    margin-left: 4px;
    margin-right: 0;
    display: none;
}
.price-form i.label-notice {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color : #B6BABE;
    font-style: normal;
    font-family: 'Between-medium';
}
.price-form input,
.price-form button {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    margin-top: 5px;
    width: 100%;
}
.price-form input[type="submit"],
.price-form button {
    text-align: center !important;
    clear: none;
    width: 48%;
    display: block;
    margin: 0 auto;
    float: none;
}
.price-form button:not(:hover) {
    text-decoration: underline;
    border: none;
    color: #009688;
}
.price-form button:hover {
    text-decoration: none;
    border: none;
}
.price-form input:focus {
    border-color: #999;
    cursor: auto;
}
.price-form input[type="submit"] {
    background: #B6BABE;
    border-radius: 100%;
    max-width: 225px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    color: #F0F8FC;
    padding: 87px 0;
    display: block;
    height: auto;
    font-family: 'Between-bold';
    font-size: 19px;
    border: 3px solid #ffffff;
    margin-bottom: 30px;
}
body:not(.calculating) .price-form input[type="submit"]:hover {
    background: #00AAAA;
}
.price-form .error-message {
    color: #FF0000;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    display: none;
    margin: 20px auto 30px;
}
.nice-select.wide .list {
    max-height: 320px;
    overflow-y: scroll;
}
.price-form-total {
    padding-top: 100px;
    padding-bottom: 60px;
    text-align: center;
    display: none;
    background : #F0F8FC;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}
.price-form-total h4 {
    font-size: 18px;
    line-height: 22px;
    font-family: 'Between-bold';
    color : #00AAAA;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.form-total-block {
    text-align: center;
    padding: 15px;
}
.form-total-block.sum-total-form-block {
    padding-bottom: 40px;
}
.form-total-block.sum-total-form-block:before {
    content: '';
    display: block;
    width: 60%;
    margin: 0 auto 45px;
    height: 4px;
    background: #ffffff;
}
.form-total-block .total-block-name {
    margin-top: 0;
    font-size: 18px;
    line-height: inherit;
    margin-bottom: 13px;
    color: #000000;
    font-family: 'Between-medium';
    display: inline-block;
    width: 49%;
    text-align: right;
    padding-right: 30px;
}
.form-total-block .total-block-price {
    font-weight: bold;
    font-family: 'PT-Mono-regular';
    font-size: 30px;
    color: #00AAAA;
    display: inline-block;
    width: 49%;
    text-align: left;
    padding-left: 30px;
}
.sum-total-form-block .total-block-name,
.sum-total-form-block .total-block-price {
    display: block;
    text-align: center;
    width: 100%;
    padding: 0;
}
.sum-total-form-block .total-block-name {
    margin-bottom: 40px;
}
.sum-total-form-block .total-block-price,
.sum-total-form-block .form-currency {
    font-size: 48px;
    color: #FFAA32;
    font-family: 'PT-Mono-bold';
    display: inline-block;
    vertical-align: middle;
    width: auto;
}
.sum-total-form-block .form-currency {
    margin-left: 6px;
}
.price-form .formular-form-row {
    margin-top: 55px;
}
.price-form .formular-form-row .row-label,
.price-form .formular-form-row .row-label-info {
    width: 49%;
    text-align: right;
    display: inline-block;
    vertical-align: middle;
}
.price-form .formular-form-row .row-label {
    padding-right: 22px;
    position: relative;
}
.price-form .formular-form-row .row-label-info {
    text-align: right;
    width: 32%;
    margin-left: 38px;
    position: relative;
    min-height: 53px;
    vertical-align: top;
}
.price-form .right-additional-block .formular-form-row .row-label-info,
.price-form .left-additional-block .formular-form-row .row-label-info {
    min-height: auto;
    vertical-align: middle;
}
.price-form .formular-form-row .row-label-select {
    min-height: auto;
    vertical-align: middle;
}
.price-form .formular-form-row .row-label-select .select-factor {
    max-width: 64px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: -25px;
    right: -80px;
}
.price-form .formular-form-row .row-label-select .select-factor p {
    font-size : 14px;
    line-height : 22px;
    color : #B6BABE;
    margin: 0 0 3px 0;
    font-family: 'Between-regular';
}
.price-form .formular-form-row .row-label-select .select-factor .factor-value {
    background : #EDEEEF;
    border-radius : 3px;
    -moz-border-radius : 3px;
    -webkit-border-radius : 3px;
    padding: 15px 0;
}
.price-form .formular-form-row .row-label-select .select-factor .factor-value.factor-value-input-block {
    display: none;
    padding: 0;
}
.price-form .formular-form-row .row-label-select .select-factor .factor-value span {
    font-size : 18px;
    line-height : 22px;
    color : #1E3232;
    font-family: 'Between-medium';
}
.price-form .formular-form-row.select-row {
    margin-top: 0;
    margin-bottom: 74px;
}
.price-form .formular-form-row.select-row input {
    margin-top: 0;
}
.price-form .formular-form-row.form-row-radio {
    width: 100%;
    margin-top: 0;
}
.additional-inputs-block {
    background: #ffffff;
    border-bottom: 1px solid #000000;
    text-align: center;
    padding: 34px 0;
    position: relative;
}
.additional-inputs-block .left-additional-block h3,
.additional-inputs-block .right-additional-block h3 {
    font-size: 18px;
    line-height: 26px;
    font-family: 'Between-medium';
    text-transform: uppercase;
    color: #00AAAA;
    font-weight: normal;
    margin-top: 17px;
}
.red-text {
    color: #FF0000 !important;
}
.additional-inputs-block .left-additional-block,
.additional-inputs-block .right-additional-block {
    width: 45%;
    float: left;
}
.additional-inputs-block .left-additional-block {
    text-align: right;
}
.additional-inputs-block .right-additional-block {
    text-align: left;
    float: right;
}
.price-form .additional-inputs-block .formular-form-row .row-label,
.price-form .additional-inputs-block .formular-form-row .row-label-info {
    width: 60%;
    padding: 0;
    margin-top: 40px;
    margin-left: 0;
}
.price-form .additional-inputs-block .formular-form-row .row-label-info {
    margin-bottom: 40px;
}
.price-form .additional-inputs-block .formular-form-row {
    margin-top: 0;
}
.additional-inputs-block .tooltip-block img {
    right: -25px;
}
.large-form {
    display: none;
    padding-bottom: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    position: relative;
}
.large-form:before {
    content: '';
    display: block;
    height: 100%;
    width: 1px;
    background: #1E3232;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
}
.large-form:after {
    content: '';
    display: block;
    clear: both;
}
.price-form .formular-form-row.form-row-radio h3 {
    display: inline-block;
    vertical-align: middle;
    margin: 0 50px 0 0;
    font-size: 18px;
    line-height: 26px;
}
.price-form .formular-form-row.form-row-radio > div {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
}
.price-form .formular-form-row.form-row-radio input {
    display: none;
}
.price-form .formular-form-row.form-row-radio label {
    background : rgba(182, 186, 190, 1);
    border-radius : 23px;
    -moz-border-radius : 23px;
    -webkit-border-radius : 23px;
    width: 96px;
    height: 46px;
    position: relative;
}
.price-form .formular-form-row.form-row-radio label:hover {
    cursor: pointer;
}
.price-form .formular-form-row.form-row-radio label:after {
    content: '';
    display: block;
    clear: both;
    width: 38px;
    height: 38px;
    background: #ffffff;
    border-radius: 100%;
    position: absolute;
    top: 4px;
    left: 5px;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.price-form .formular-form-row.form-row-radio input:checked + label:after {
    left: 54%;
}
.price-form .formular-form-row.form-row-radio input:checked + label {
    background : rgba(0, 170, 170, 1);
}
.price-form .formular-form-row input {
    /*width: 90%;*/
    display: inline-block;
    vertical-align: middle;
    float: none;
    border: none;
    border-bottom: 1px solid #00AAAA;
    background: transparent;
    border-radius: 0;
}
.price-form .formular-form-row .input-bg-value,
.price-form .formular-form-row .input-bg-value + input {
    position: absolute;
    width: 100%;
    left: 0;
    top: 20%;
    transform: translateY(-50%);
}
.price-form .formular-form-row .input-bg-value:hover,
.price-form .formular-form-row .input-bg-value + input:hover {
    cursor: text;
}
.price-form .formular-form-row .row-label-info input {
    border: none;
    color: transparent;
    margin: 0;
}
.price-form .formular-form-row .row-label-info input::selection {
    background: transparent;
    color: transparent;
}
.price-form .formular-form-row .input-bg-value {
    background-color: #fff0;
    letter-spacing: 3px;
    font-size: 30px;
    line-height:  22px;
    color : #C8CCD0;
    border-bottom: 1px solid #0aa;
    font-family: 'PT-Mono-regular';
    overflow: hidden;
    padding-top: 1px;
}
.price-form .formular-form-row .right-additional-block .input-bg-value,
.price-form .formular-form-row .left-additional-block .input-bg-value {
    margin-top: 3px;
}
.price-form .formular-form-row .input-bg-value span.base-value {
    text-align: left;
    color : #C8CCD0;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.price-form .formular-form-row .row-label-info {
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.price-form .formular-form-row .row-label-info:hover .input-bg-value,
.price-form .formular-form-row .row-label-info .input-bg-value.focused {
    background: #ffffff;
    border-bottom-color: #ffffff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.price-form .additional-inputs-block .formular-form-row .row-label-info:hover .input-bg-value,
.price-form .additional-inputs-block .formular-form-row .row-label-info .input-bg-value.focused {
    background: rgb(240,248,252);
    border-bottom-color: #ffffff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.price-form .formular-form-row .input-bg-value .values-block {
    width: 273px;
    float: right;
    position: relative;
    height: 42px;
    margin-right: 6px;
}
.price-form .right-additional-block .formular-form-row .input-bg-value .values-block {
    margin-right: 0;
}
.price-form .left-additional-block .formular-form-row .input-bg-value .values-block {
    margin-right: 0;
}
.price-form .formular-form-row .input-bg-value span.new-value {
    position: absolute;
    right: 0;
    /*top: 0;*/
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    float: right;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    font-family: 'PT-Mono-bold';
}
/*dots*/
.price-form .formular-form-row .input-bg-value span.new-value:after {
    content: ' .   .   .   ';
    display: block;
    color : #C8CCD0;
    position: absolute;
    right: 0;
    top: 0;
    font-family: 'PT-Mono-regular';
    white-space: pre;
    display: none;
}
.price-form .formular-form-row .input-bg-value:after {
    content: '';
    position: absolute;
    right: 0;
    top: 12px;
    width: 2px;
    background: #00AAAA;
    height: 54%;
    -webkit-animation: inputBgFocused 1s infinite;
    -o-animation: inputBgFocused 1s infinite;
    animation: inputBgFocused 1s infinite;
    animation-timing-function: linear;
    display: none;
}
.price-form .formular-form-row .input-bg-value.red-value:after {
    background: #FF0000;
}
.price-form .formular-form-row .input-bg-value.focused:after {
    display: block;
}
@keyframes inputBgFocused {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.price-form .formular-form-row .input-bg-value.focused + input {
    opacity: 0;
    pointer-events: none;
}
.price-form .formular-form-row input.factor-custom-value {
    padding: 0;
    border:  none;
    font-size: 18px;
    line-height: 22px;
    color: #1e3232;
    font-family: 'Between-medium';
    text-align: center !important;
    height: 52px;
}
.price-form .formular-form-row input.factor-custom-value:focus {
    background : #FFFFFF;
    border: 1px solid #00AAAA;
    border-radius : 6px;
    -moz-border-radius : 6px;
    -webkit-border-radius : 6px;
    box-shadow : 0px 0px 24px rgba(0, 0, 0, 0.2);
}
.price-form .formular-form-row .form-currency {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.form-actions {
    overflow: hidden;
    margin-top: 30px;
    padding: 15px 0;
}
.clear-inputs {
    font-size: 18px;
    color: #B6BABE;
    text-transform: uppercase;
    letter-spacing : 1.8px;
    font-family: 'Between-bold';
    border: none;
    padding-left: 28px;
    display: block;
    margin: 50px auto 0;
    cursor: pointer;
    display: none;
    background: transparent;
    position: absolute;
    width: 330px;
    left: 0;
    right: 0;
}
.clear-inputs:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 20px;
    width: 20px;
    background: url("../img/clear-form.svg") no-repeat;
    margin-right: 12px;
    fill: currentColor;
}
.clear-inputs:hover {
    color: #0aa;
    text-decoration: underline;
}
.clear-inputs:hover:before {
    color: #0aa;
    filter: invert(0.7) sepia(5) saturate(5) hue-rotate(129deg);
}
.nice-select .option {
    margin: 0;
}
.form-notice-block p {
    margin: 24px 0 16px 0;
    font-family: 'Between-regular';
    color: #000;
    font-size: 16px;
    font-weight: bold;
}
.form-notice-block p span {
    color: #ffaa32;
    margin-right: 2px;
}
.tooltip-block img {
    max-width: 20px;
    position: absolute;
    top: -4px;
    right: 0px;
    width: auto !important;
}
.tooltip-info {
    font-family: 'Between-light';
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    box-shadow : 0px 0px 32px rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    background: #ffffff;
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    z-index: 9;
    text-align: left;
    padding: 37px 25px 37px 30px;
    max-width: 380px;
    opacity: 0;
    width: 100%;
    display: none;
}
.tooltip-info.is-active {
    transition: transform ease .3s,opacity ease .3s;
    animation: showTooltip .3s forwards;
    display: block;
}
@keyframes showTooltip {
    0% {
        opacity:0;
        transform:scale(.7)
    }
    to {
        opacity:1;
        transform:scale(1)
    }
}
.close-tooltip {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 17px;
    height: 17px;
    background: url("../img/close-tooltip-mobile.svg") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.formular-custom-select.error + .nice-select {
    border-color: red;
}
@media (max-width: 1700px) {
    .clear-inputs {
        margin: 30px auto 0;
    }
}
@media (max-width: 1500px) {
    .clear-inputs {
        margin: 20px auto 0;
    }
}
@media (max-width: 1200px) {
    .price-form .formular-form-row .row-label-info {
        width: 39%;
    }
    .price-form .additional-inputs-block .formular-form-row .row-label,
    .price-form .additional-inputs-block .formular-form-row .row-label-info {
        width: 75%;
    }
}
@media (max-width: 992px) {
    .price-form h2 {
        max-width: 90%;
    }
    .price-form .formular-form-row .row-label,
    .price-form .formular-form-row .row-label-info {
        width: 100%;
        display: block;
        text-align: left;
        max-width: 320px;
        margin: 0 auto;
    }
    .tooltip-block img {
        right: auto;
        left: -15px;
    }
    .price-form label span {
        display: none;
    }
    .price-form label span.mobile-label-notice {
        display: inline;
    }
    .price-form label {
        padding-left: 15px;
        margin-bottom: 20px;
    }
    .price-form .formular-form-row .row-label-select {
        padding-left: 15px;
        width: 100%;
    }
    .price-form .formular-form-row .input-bg-value,
    .price-form .formular-form-row .input-bg-value + input {
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        top: 25px;
        left: 15px;
    }
    .price-form .formular-form-row {
        margin-top: 60px;
        padding-bottom: 60px;
    }
    .price-form .formular-form-row.select-row,
    .price-form .formular-form-row.form-row-radio {
        padding-bottom: 0;
    }
    .price-form .formular-form-row.form-row-radio h3 {
        max-width: 53%;
        text-align: left;
    }
    .large-form:before {
        display: none;
    }
    .additional-inputs-block .left-additional-block,
    .additional-inputs-block .right-additional-block {
        float: none;
        width: 100%;
        text-align: center;
    }
    .price-form .additional-inputs-block .formular-form-row .row-label,
    .price-form .additional-inputs-block .formular-form-row .row-label-info {
        margin: 0 auto;
    }
    .price-form .additional-inputs-block .formular-form-row {
        margin-top: 60px;
    }
    .price-form .additional-inputs-block .form-row-radio {
        margin-top: 0;
    }
    .price-form .additional-inputs-block .form-row-radio label {
        margin-bottom: 0;
    }
    .additional-inputs-block .left-additional-block h3,
    .additional-inputs-block .right-additional-block h3 {
        text-align: left;
        padding-left: 13%;
        margin-top: 50px;
        margin-bottom: -25px;
    }
    .additional-inputs-block .left-additional-block h3 {
        margin-top: 0;
    }
    .price-form .row-label label {
        margin-bottom: 0;
    }
    .price-form .formular-form-row.select-row .row-label {
        margin-bottom: 25px;
    }
}
@media (max-width: 768px) {
    .additional-inputs-block .left-additional-block h3,
    .additional-inputs-block .right-additional-block h3 {
        padding-left: 10%;
    }
    .price-form .nice-select {
        width: 270px;
    }
    .price-form .formular-form-row .row-label-select .select-factor {
        right: -50px;
    }
    .tooltip-info {
        font-size: 12px;
        line-height: 16px;
        padding: 37px 40px 37px 20px;
    }
    .price-form .formular-form-row .input-bg-value.focused:after {
        display: none;
    }
    .price-form-total h4 {
        padding: 0 10px;
    }
}
@media (max-width: 480px) {
    .price-form {
        padding-top: 50px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-radius: 0;
    }
    .standart-form-inputs {
        padding: 0 29px;
    }
    .additional-inputs-block {
        padding: 20px 27px;
    }
    .price-form h2 {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 40px;
    }
    .price-form label,
    .price-form .nice-select,
    .price-form .nice-select .option,
    .additional-inputs-block .left-additional-block h3,
    .additional-inputs-block .right-additional-block h3 {
        font-size: 14px;
        line-height: 26px;
    }
    .price-form .nice-select {
        width: calc(100% - 70px);
        height: 32px;
        line-height: 30px;
    }
    .price-form .formular-form-row .row-label-select .select-factor {
        right: 0;
        top: -25px;
        max-width: 55px;
    }
    .price-form .formular-form-row .row-label-select .select-factor .factor-value {
        padding: 5px 0;
    }
    .price-form .formular-form-row .row-label-select .select-factor .factor-value span {
        font-size: 14px;
    }
    .price-form .nice-select:after {
        width: 0;
        height: 0;
        border: 7px solid;
        border-top-color: #0aa;
        transform: none;
        color: transparent;
    }
    .price-form .formular-form-row .input-bg-value {
        font-size: 24px;
    }
    .price-form .formular-form-row {
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .price-form .formular-form-row .input-bg-value,
    .price-form .formular-form-row .input-bg-value+input {
        width: 92%;
    }
    .price-form .formular-form-row input.factor-custom-value {
        height: 32px;
        font-size: 14px;
    }
    .price-form .formular-form-row.form-row-radio h3 {
        font-size: 14px;
        line-height: 20px;
        margin-right: 10px;
        max-width: 70%;
    }
    .additional-inputs-block .left-additional-block h3,
    .additional-inputs-block .right-additional-block h3 {
        padding-left: 4%;
    }
    .price-form .additional-inputs-block .formular-form-row .row-label,
    .price-form .additional-inputs-block .formular-form-row .row-label-info {
        width: 100%;
    }
    .price-form-total {
        padding-top: 50px;
    }
    .price-form-total h4 {
        line-height: 20px;
        font-size: 14px !important;
        margin-bottom: 30px;
    }
    .form-total-block .total-block-name,
    .form-total-block .total-block-price {
        display: block;
        width: 100%;
        text-align: center;
        padding: 0;
    }
    .form-total-block .total-block-name {
        font-size: 14px;
        line-height: 26px;
    }
    .form-total-block .total-block-price {
        font-size: 26px;
        line-height: 21px;
        display: inline-block;
        width: auto;
    }
    .form-total-block.sum-total-form-block:before {
        margin-bottom: 30px;
        width: 100%;
    }
    .form-total-block.sum-total-form-block {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    .form-total-block.sum-total-form-block .total-block-name {
        font-size: 18px;
        line-height: 26px;
    }
    .form-total-block.sum-total-form-block .total-block-price,
    .form-total-block.sum-total-form-block .form-currency {
        font-size: 36px;
        line-height: 21px;
    }
    .clear-inputs {
        font-size: 12px;
        line-height: 22px;
        margin-top: 20px;
    }
    .price-form .formular-form-row .input-bg-value .values-block {
        /*width: 100%;*/
        width: 226px;
        height: 34px;
        margin-right: 0;
        float: left;
    }
    .price-form .additional-inputs-block .form-row-radio label {
        height: 32px;
        width: 64px;
    }
    .price-form .formular-form-row.form-row-radio label:after {
        width: 24px;
        height: 24px;
    }
    .price-form .formular-form-row .input-bg-value span.new-value:after {
        display: none;
    }
    .col-12 {
        padding: 0 !important;
    }
    .price-form .right-additional-block .formular-form-row .input-bg-value .values-block {
        margin-left: 0;
    }
    .price-form .formular-form-row.select-row {
        margin-bottom: 47px;
    }
    .price-form .formular-form-row .row-label-select {
        margin-top: 23px;
        padding-left: 18px;
    }
    .price-form label {
        padding-left: 18px;
        line-height: 19px;
    }
    .price-form i.label-notice {
        font-size: 12px;
        line-height: 15px;
    }
    .form-notice-block p {
        font-size: 13px;
    }
}
@media (min-width: 992px) {
    .close-tooltip {
        display: none;
    }
    .price-form .row-label label:hover {
        cursor: help;
    }
    .price-form .formular-form-row .input-bg-value .values-block,
    .price-form .formular-form-row .row-label-info input {
        height: 53px;
    }
}