/*input[type="number"] {*/
    /*-moz-appearance: textfield;*/
/*}*/
/*input[type="number"]::-webkit-inner-spin-button,*/
/*input[type="number"]::-webkit-outer-spin-button {*/
    /*-webkit-appearance: none;*/
    /*margin: 0;*/
/*}*/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
}
h1 {
    text-align: center;
    font-size: 28px;
}
h2 {
    margin: 0;
    font-size: 17px;
}
h3 {
    margin-bottom: 0;
    margin-top: 30px;
}
h4 {
    text-align: center;
    font-size: 17px;
    margin-top: 0;
}
.calculating .price-form {
    position: relative;
}
.calculating .price-form:after {
    content: '';
    display: block;
    background: url("../img/calculating.gif") no-repeat center, #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.price-form {
    max-width: 640px;
    margin: 0 auto;
}
.price-form:after {
    content: '';
    display: block;
    clear: both;
}
.price-form .nice-select {
    width: 90%;
}
.price-form label {
    margin: 10px 0 5px;
    display: block;
    line-height: 18px;
}
.price-form input,
.price-form button {
    /*-webkit-tap-highlight-color: transparent;*/
    background-color: #fff;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    height: 42px;
    line-height: 40px;
    outline: none;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;
    text-align: left !important;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
    white-space: nowrap;
    margin-top: 5px;
    width: 100%;
}
.price-form input[type="submit"],
.price-form button {
    text-align: center !important;
    clear: none;
    width: 48%;
    display: block;
    margin: 0 auto;
    float: none;
}
.price-form input[type="submit"]:not(:hover) {
    border: 2px solid #009688;
    font-weight: bold;
    color: #ffffff;
    background: #009688;
}
.price-form button:not(:hover) {
    text-decoration: underline;
    border: none;
    color: #009688;
}
.price-form input[type="submit"]:hover {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
}
.price-form button:hover {
    text-decoration: none;
    border: none;
}
.price-form input:focus {
    border-color: #999;
    cursor: auto;
}
.price-form input[type="submit"] {
    margin-bottom: 20px;
}
.nice-select.wide .list {
    max-height: 320px;
    overflow-y: scroll;
}
.price-form-total {
    padding-top: 20px;
    text-align: center;
    display: none;
}
.form-total-block {
    text-align: center;
    border-radius: 5px;
    border: solid 1px #e8e8e8;
    margin-bottom: 20px;
    padding: 15px;
    display: inline-block;
    width: 26%;
}
.form-total-block:nth-of-type(2) {
    margin: 0 2%;
}
.form-total-block:last-of-type {
    border: none;
    border-bottom: 2px solid #e8e8e8;
    border-radius: 0;
}
.form-total-block .total-block-name {
    margin-top: 0;
}
.form-total-block .total-block-price {
    font-weight: bold;
}
.price-form .form-row {
    margin-top: 20px;
    display: inline-block;
    width: 47%;
}
.price-form .form-row.select-row {
    vertical-align: middle;
}
.price-form .form-row.select-row input {
    margin-top: 0;
}
.price-form .form-row:nth-of-type(even) {
    margin-left: 0;
}
.price-form .form-row.form-row-radio {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
    width: 100%;
    margin-right: 0;
}
.large-form {
    display: none;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 30px;
}
.price-form .form-row.form-row-radio input {
    display: none;
}
.price-form .form-row.form-row-radio label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
}
.price-form .form-row.form-row-radio label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border: 1px solid #0b0b0b;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.price-form .form-row.form-row-radio label:after {
    content: '';
    vertical-align: middle;
    width: 10px;
    height: 10px;
    background: #0b0b0b;
    border-radius: 50px;
    position: absolute;
    left: 5px;
    top: 5px;
    display: none;
}
.price-form .form-row.form-row-radio input:checked + label:after {
    display: block;
}
.price-form .form-row input {
    width: 90%;
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.price-form .form-row .form-currency {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.form-actions {
    overflow: hidden;
    margin-top: 30px;
    padding: 15px 0;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
}
@media (max-width: 640px) {
    .price-form .form-row,
    .price-form input[type="submit"],
    .price-form button {
        width: 100%;
    }
    .price-form button {
        margin-top: 0;
    }
    .price-form .nice-select {
        width: 100%;
    }
    .price-form .form-row input {
        width: 95%;
    }
    .form-total-block {
        margin: 10px 0;
        width: 95%;
    }
    .form-total-block:nth-of-type(2) {
        margin: 10px 0;
    }
    .price-form input[type="submit"] {
        margin-right: 0;
    }
}
@media (max-width: 480px) {
    .form-total-block {
        width: 91%;
    }
    .price-form .form-row input {
        width: 94%;
    }
}