/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 18, 2018, 12:33:58 PM
    Author     : artem
*/

.style-light .price-form h2 {
    font-size: 18px;
}
.price-form .formular-form-row .row-label-info input {
    box-shadow: none;
}
.style-light .price-form input[type="submit"] {
    background: #B6BABE;
}
.price-form .nice-select .list {
    padding-left: 0;
}
.form-total-block:not(.sum-total-form-block) .total-block-name {
    margin: 0;
}
.calculating .style-light .price-form input[type=submit] {
    background: #ffffff;
}
@media (max-width: 480px) {
    .style-light .price-form h2 {
        font-size: 12px;
    }
    .price-form {
/*        margin-left: -36px;
        margin-right: -36px;*/
    }
}